.container-certify-verify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.container-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    margin: 20px auto;
    max-width: 450px;
}


h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #fff;
}

p {
    font-size: 25px;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #5228F5;
    color: #fff;
    border: none;
    padding: 11px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #381EC2;
}

.custom-file-upload {
    background-color: #5228F5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;

}

.custom-file-upload i {
    margin-right: 5px;
}

.custom-file-upload:hover {
    background-color: #381EC2;
}

#file-upload {
    display: none;
}

#file-name {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    background-color: #fff;
    color: #333;
    cursor: not-allowed;
}

.verified-image {
    width: 40px;
    height: auto;
}